@model IEnumerable<Asp.NetMvc5ConceitosBasicos.Models.Livro>

@{
    ViewBag.Title = "Index";
}

<h2>Livros Cadastrados</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponivel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDLivro }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDLivro }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDLivro })
        </td>
    </tr>
}

</table>

<br/>

@Html.Partial("_PromocaoLivros")